.app{

    float:left;
    cursor: pointer;
    padding: 5px;
    color:#464646;
}

.appSelected{

    float:left;
    cursor: pointer;
    padding: 5px;
    background-color:Highlight;
    color:HighlightText;
}
.name{

    text-align: center;
    font-family: arial, sans-serif;
    font-size: 14px;
    padding-top: 10px;
}

.icon{


}

.search{

    display: none;
}

.searchInput{

    border: none;
    border-bottom: 1px solid gray;
    outline: 0;
}