.app{

    clear:both;
    cursor: pointer;
    padding: 5px;
    display: table-row;
    border-bottom: 1px dashed gray;
    width:95%;
    color:#464646;
    -webkit-user-select: none;
}

.appSelected {

    clear:both;
    cursor: pointer;
    padding: 5px;
    display: table-row;
    border-bottom: 1px dashed gray;
    width:95%;
    background-color: Highlight;
    color:HighlightText;
    -webkit-user-select: none;
}
.name{

    text-align: left;
    font-family: arial, sans-serif;
    font-size: 14px;
    padding: 20px;

    vertical-align: middle;
    display: table-cell;
}

.icon{
    display: table-cell;
}

.search{

    display: none;
}

.searchInput{

    border: none;
    border-bottom: 1px solid gray;
    outline: 0;
}